<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Grow your Buisnes with Us</p>
                <div class="row">
                {{!-- left side --}}
                    <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="images/about.jpg" alt="herosection_image">
                    </figure>
                    </div>
                
                {{!-- right  --}}
                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE PROFESSONAL DEVELOPER</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, quo! Dolor ex eaque, sed nulla quos ducimus? Accusantium saepe ipsam, at illo placeat, sit cum ut velit deleniti quas culpa!</p>
                    <button class="btn-style btn-primary">Read More</button>
                </div>
                </div>
            </div>
        </div>
    </div>