{{!-- <div class="container-fluid mt-5 contact-style" id="registerid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Sign In Here</h1>
      <p class="text-center sub-heading">We Will Be Happy to Help You</p>
      <div class="row">
        <div class="col-md-6 col-12 mx-auto">
          <form action="/register" method="POST">
            <h1>Registration Form</h1>
            <div class="form-group">
              <label for="inputEmail3" class="form-label">Firstname</label>
                <input type="Text" class="form-control" placeholder="firstname *" id="firststname" name="firstname">
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="form-label">lastname</label>
              <input type="Text" class="form-control" placeholder="lastname *" id="lastname" name="lastname">
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="email *" id="inputEmail3" name="email">
            </div>
            <div class="form-grou[p">
              <label for="inputPassword3" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="password *" id="inputPassword3"
                  name="password">
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" placeholder="confirm password *" id="inputPassword4"
                  name="confirmpassword">
            </div>
            <div class="form-group">
              <div class="maxl">
                <span>Gender</span>
                <label class="radio-inline mx-3">
                  <input type="radio" name="gender" value="male">
                  <span>Male</span>
                </label>
                <label class="radio-inline mx-3">
                  <input type="radio" name="gender" value="female">
                  <span>Female</span>
                </label>
              </div>
            </div>
            <input type="submit" class="btn-style btn-primary" value="Sign In">
          </form>
        </div>
      </div>
    </div>
  </div>
</div> --}}